@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Oswald:wght@200&family=Shadows+Into+Light&display=swap');

body, html{
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 10000%;
    background-color: #f6f6f6;
}

header{
    width: 100%;
    height: 70px;
    background-color: #000000;
    margin-bottom:15px;
    position:fixed;
}

h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: Oswald, sans-serif;
    color: #fbbf0c;
}

span{
    color: #ffffff;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color:#fff700;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-size:15px;
}

a:hover{
    color: #baab03;
    transition: 0.5s;
}

.img{
    border-radius: 10px;
    width:100px;
    height:140px;
}

hr{
    background-color: black;
    
}

.logo{
    border-radius: 15px;
    font-size:50px;
    text-align:center;
}

img{
    border-radius: 15px;
}

#red{
    width:200px;
    height:200px;
    background-color:red;
    text-align:center;
    border-radius:15px;
}

#yellow{
    width:200px;
    height:200px;
    background-color:yellow;
    text-align:center;
    border-radius:15px;
}

#orange{
    width:200px;
    height:200px;
    background-color:orange;
    text-align:center;
    border-radius:15px;
}

#green{
    width:200px;
    height:200px;
    background-color:green;
    text-align:center;
    border-radius:15px;
}

#blue{
    width:200px;
    height:200px;
    background-color:blue;
    text-align:center;
    border-radius:15px;
}

#purple{
    width:200px;
    height:200px;
    background-color:purple;
    text-align:center;
    border-radius:15px;
}

#pink{
    width:200px;
    height:200px;
    background-color:rgb(255, 0, 255);
    text-align:center;
    border-radius:15px;
}

p{
    font-size:20px;
    color: black;
}

.logoimg{
    border-radius: 1000px;
    width: 70px;
    margin-left: 5px;
}

.headermargin{
    margin-left: 65px;
    margin-top: -72;
}